<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mamy to, czego potrzebujesz</h2>
                <hr class="light">
                <p class="text-faded text-left">Lata specjalistycznego doświadczenia przygotowały nas do obsługi małych i średnich firm, takich jak Twoja. <br><br>
                    Posiadamy Licencję Ministerstwa Finansów nr 4516/97 uprawniającą do usługowego prowadzenia ksiąg rachunkowych. <br><br>
                    Obsługa firm przebiega w 100% zdalnie, co pozwala zaoszczędzić Twój czas i pieniądze. <br><br>
                     Niezależnie od tego, czy jesteś start-upem, czy rozwijającym się przedsiębiorstwem, oferujemy spersonalizowane wsparcie i pakiet podstawowych usług zaprojektowanych, aby napędzać Twój sukces. <br><br> 
                     Pozwól nam być Twoim partnerem na drodze do osiągnięcia Twoich celów biznesowych.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Nasza oferta</a>
            </div>
        </div>
    </div>
</section>
