<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Precyzja się liczy</h1>
            <h2>Twój zaufany partner w zakresie księgowości</h2>
            <hr>
            <p>Popraw swoje finanse dzięki naszym dostosowanym rozwiązaniom księgowym. <br> 
                Od precyzyjnej księgowości po strategiczne planowanie podatkowe – jesteśmy tutaj, aby zoptymalizować Twój sukces.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Dowiedz się więcej</a>
        </div>
    </div>
</header>
