<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Oferujemy</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sitemap wow bounceIn text-primary"></i>
                    <h3>Zakładanie spółek</h3>
                    <p class="text-muted text-left">Zakładanie spółek w systemie S24.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-scale-balanced wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pełna księgowość</h3>
                    <p class="text-muted text-left">Prowadzenie pełnej księgowości zgodnie z ustawą o rachunkowości.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-business-time wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Księgowość uproszczona</h3>
                    <p class="text-muted text-left">Oferujemy obsługę księgową dla JDG niezależnie od formy prowadzenia działalności.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Księgowość NGO</h3>
                    <p class="text-muted text-left">Prowadzenie księgowości zgodnie z odrębnymi przepisami dla organizacji pozarządowych i non-profit.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-address-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Kadry i płace</h3>
                    <p class="text-muted text-left">Prowadzenie obsługi kadrowo-płacowej.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-house-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Księgowość online</h3>
                    <p class="text-muted text-left">Pracujemy w 100% online przy pomocy programu OPTIMA ERP.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-person-chalkboard wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sprawozdania finansowe</h3>
                    <p class="text-muted text-left">Wykonujemy bilanse dla firm prowadzących pełną ksiegowość.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-list-check wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Deklaracje podatkowe</h3>
                    <p class="text-muted text-left">Deklaracje podatkowe PIT, CIT, VAT składamy do urzędów elektronicznie.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12 text-center">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Kontakt</a>
            </div>
        </div>
    </div>
</section>